In [2]:
import pandas as pd

pd.set_option("display.width", 140)
pd.set_option("display.max_columns", 50)

# простой ряд: "ступенька", чтобы видеть отклик
x = pd.Series([0] * 20 + [10] * 20, name="x")
L = 10

Matplotlib is building the font cache; this may take a moment.

In [3]:
sma = x.rolling(L).mean()

# EMA: стандартная эксп. средняя (alpha = 2/(L+1))
ema = x.ewm(span=L, adjust=False).mean()

df = pd.DataFrame({"x": x, "sma": sma, "ema": ema})
df.head(25)

     x  sma       ema
0    0  NaN  0.000000
1    0  NaN  0.000000
2    0  NaN  0.000000
3    0  NaN  0.000000
4    0  NaN  0.000000
5    0  NaN  0.000000
6    0  NaN  0.000000
7    0  NaN  0.000000
8    0  NaN  0.000000
9    0  0.0  0.000000
10   0  0.0  0.000000
11   0  0.0  0.000000
12   0  0.0  0.000000
13   0  0.0  0.000000
14   0  0.0  0.000000
15   0  0.0  0.000000
16   0  0.0  0.000000
17   0  0.0  0.000000
18   0  0.0  0.000000
19   0  0.0  0.000000
20  10  1.0  1.818182
21  10  2.0  3.305785
22  10  3.0  4.522915
23  10  4.0  5.518749
24  10  5.0  6.333522